extends partials/layout.pug

block content
  h1.margin Contact Us
  .contact-form
    form(method='POST')
      .form-group
        label(for='name') Name
        input.form-control#name(type='text' name='name' placeholder='Priya Kamesh')
      .form-group
        label(for='email') Email
        input.form-control#email(type='email' name='email' placeholder='you@example.com')
      .form-group
        label(for='phone') Phone Number
        input.form-control#phone(type='tel' name='phone' placeholder='555-555-5555')
      .form-group
        label(for='message') Message
        textarea.form-control#message(name='message' rows=5 placeholder='Tell Me')
      .contact-form__submit
        a.btn.btn-danger.btn-lg(href='/') Cancel
        input.btn.btn-success.btn-lg(type='submit' value='Submit')
